<% remote_form_for(:line, Platter::FeatureLine.new(:feature => feature), :url => package_feature_lines_path(feature.package, feature), :builder => FeatureLineFormBuilder) do |line_form| -%>
  <%= render :partial => "lines/form_common", :locals => { :line_form => line_form } %>
  <div id="<%= dom_id(feature) %>_new_line_errors" class="errors">
  </div>
<% end -%>
