<% form_tag({ :controller => :folders, :action => :import }, { :multipart => true, :target => :upload_frame, :id => :folder_import_form, :class => :folder_import }) do -%>
  <% field_set_tag do -%>
    <%= hidden_field_tag(:id, "", :id => :folder_import_folder_id) %>
    <%= file_field_tag :zip_file, :id => :folder_import_zip_file, :size => 80 %>
    <%= submit_tag "Import", :id => :folder_import_zip_submit, :class => :button %>
    <div id="folder_import_zip_errors" class="errors" style="display: none;">
    </div>
  <% end -%>
<% end -%>
