/*** TAGS ***/
body {
  background-color: #ffffff;
  font-family: Helvetica, "Lucida Grande", "Trebuchet MS", "Sans-Serif";
  font-size: 0.8em;
  line-height: 1.53em;
  color: #202020;
  margin: 0 40px;
  padding: 0;
}

a {
  color: #32bd7a;
}

abbr {
  border-bottom: 1px dashed;
  cursor: help;
}

h1, h2, h3 {
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial;
  padding-top: 10px;
}

h1 {
  font-size: 1.8em;
  padding-bottom: 40px;
}

h2 {
  font-size: 1.3em;
  margin-top: 15px;
  padding-bottom: 5px;
}

h3 {
  padding-top: 0;
  color: #6c9301;
}

input, select, textarea {
  border: 1px #cccccc;
  vertical-align: middle;
  margin-right: 5px;
  font-style: inherit;
  font-size: inherit;
}

/*** NAMED ELEMENTS  ***/
#container {
  width: 100%;
  margin: auto;
  background-color: #fafdfc;
}

#header {
  height: 126px;
  background: url(../images/bg-header.png) top left repeat-x;
}

#logo {
  padding-top: 17px;
  padding-left: 23px;
  height: 57px;
}

#menu {
  min-height: 36px;
  vertical-align: middle;
  text-transform: uppercase;
  padding-left: 13px;
}

#menu ul {
  display: block;
  float: right;
  margin: 5px 0 0;
  padding: 0;
  list-style: none;
  font-family: "Trebuchet MS";
}

#menu li {
  float: left;
  position: relative;
}

#menu li:hover, #menu div.expanded {
  background-color: #69e7aa;
}

#menu li a {
  color: #fff;
  text-decoration: none;
  height: 22px;
  display: block;
  padding: 5px 10px;
  line-height: 22px;
}

#content {
  width: auto;
  padding: 30px 23px;
  border-left: 1px solid #f6f5f5;
  border-right: 1px solid #f6f5f5;
}

#footer {
  background-color: #32bd7a;
  clear: both;
  min-height: 23px;
  font-size: 80%;
  color: #fff;
  padding: 10px 23px 10px 23px;
}

#footer a {
  color: #474747;
}

#importform {
  position: absolute;
  top: 32px;
  right: 0;
  background-color: transparent;
}

#importform div {
  width: 250px;
  height: 120px;
  background-color: #69e7aa;
  color: #fff;
  text-transform: none;
}

#importform form {
  padding: 20px;
}

#packages_area, #features_area {
  display: block;
  float: left;
}

#packages_area {
  width: 25%;
}

#features_area {
  width: 75%;
}

#packages li {
  padding-top: 30px;
}

#packages ul li ul {
  padding-top: 0;
}

#features {
  margin-left: 30px;
}

#features li ul li ul {
  padding-top: 0;
}

#features li ul li ul li {
  padding-top: 10px;
}

#features .scenarios {
  padding-top: 0;
}

#features .scenarios li {
  padding-top: 23px;
}

#features .steps li {
  padding-top: 10px;
}

/*** CLASSES ***/
.root_list {
  border-top: 1px solid #ccc;
  display: block;
  float: left;
  width: 100%;
}

.root_list h1 {
  padding-bottom: 10px;
  text-align: center;
}

.root_list ul, .root_list li, .root_list div, .root_list span, .root_list a {
  display: block;
  float: left;
}

.root_list ul {
  width: 100%;
}

.root_list li, .root_list h1 {
  width: 100%;
  padding-left: 5px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  line-height: 34px;
  font-family: "Trebuchet MS";
}

.root_list li {
  padding-top: 30px;
  padding-bottom: 30px;
  background: url(../images/bg-root-element.png) left top repeat-x;
  text-decoration: none;
  font-size: 125%;
}

.root_list li a, .root_list li span {
  padding-left: 5px;
  padding-right: 5px;
}

.root_list li a.toggle_link {
  padding-left: 44px;
  padding-right: 0;
  height: 34px;
  text-decoration: none;
  color: #202020;
}

.root_list li a:hover, .root_list li a.toggle_link:hover {
  text-decoration: none;
  color: #5d5d5d
}

.root_list a.toggle_link {
  background: url(../images/icon-arrow-collapsed-off.png) center left no-repeat;
}

.root_list a.toggle_link:hover {
  background: url(../images/icon-arrow-collapsed-on.png) center left no-repeat;
}

.root_list div.expanded a.toggle_link {
  background: url(../images/icon-arrow-expanded-off.png) center left no-repeat;
}

.root_list div.expanded a.toggle_link:hover {
  background: url(../images/icon-arrow-expanded-on.png) center left no-repeat;
}

.root_list div.edit_controls {
  padding-left: 20px;
}

.root_list li li {
  width: 94%;
  padding-top: 10px;
  padding-bottom: 0;
  margin: 0 3% 0 3%;
  border: none;
  background: #fff none;
  font-size: 100%;
}

.root_list li li div.row-actions {
  width: 245px;
  float: right;
  padding-top: 6px;
  padding-right: 15px;
  text-align: right;
}

.root_list li li a.toggle_link, .root_list div.expanded li a.toggle_link {
  color: #000;
}

.text-only {
  display: none;
}

.edit-text {
  font-style: italic;
  padding: 2px;
}

.editable-text-link {
  color: #000;
  text-decoration: none;
}

.inner_list li, .leaf_list li {
  font-size: 140%;
}

.inner_list li a, .leaf_list li a {
  padding: 0 5px 0 5px;
  font-size: 100%;
}

.inner_list li li {
  font-size: 100%;
}

.root_list li ul {
  padding-top: 30px;
}

.root_list div.element_heading, .root_list div.expand_area {
  width: 100%;
}
