<div id="projects_container" class="sidebar_list_container">
  <div class="sidebar_header_container">
    <div class="sidebar_header">
      Projects
    </div>
  </div>
  <%= render :partial => "projects/list", :locals => { :projects => projects, :hide => nil } %>
</div>
