<div id="sidebar_button_area">
  <%= link_to "Add Project", "#", { :id => :project_add_form_show_link, :title => "Add Project" } %>
  <div style="display: none;">
    <div id="project_add_form_area">
      <%= render :partial => "projects/form_new", :locals => { :project => Shrink::Project.new } %>
    </div>
    <%= javascript_tag "new ProjectAddForm().configurePopup()" %>
  </div>
</div>
