<h1>Shrink - confide and benefit</h1>
<p>Explain your applications behavior.  Let your Shrink guide you step-by-step.</p>
<br/>
<h1>Highlights</h1>
<ul>
  <li>Define tags, features, scenarios and steps - both textual and tabular steps</li>
  <li>Define and organize folders and features via drag and drop</li>
  <li>Auto-complete textual steps based on history and conventional Given-When-Then step structure</li>
  <li>Feature full-text search</li>
  <li>Import and Export features and feature archives</li>
</ul>
