<% li_for(description_line, :class => "highlight_controls_area", :style => element_style(:hidden => hidden)) do -%>
  <div id="<%= dom_id(description_line) %>_text">
    <%= render :partial => "description_lines/show_text", :locals => { :description_line => description_line } %>
  </div>
  <div class="highlight_controls">
    <%= add_before_link(:model => description_line, :url => { :controller => :description_lines, :action => :new, :feature_id => description_line.feature.id }) %>
    <%= link_to_remote "X", { :confirm => "Are you sure you want to delete this description line?", :url => package_feature_description_line_path(description_line.package, description_line.feature, description_line), :method => :delete }, { :id => dom_id(description_line, :delete_link), :title => "Delete" } %>
  </div>
<% end -%>
