<div id="tag_list_area" class="left_area">
  <div id="tag_list" class="outer_list">
    <div class="list_title">Tags</div>
    <ul>
      <% @all.each do |tag| -%>
        <li id="<%= dom_id(tag) %>_area">
          <span><%= tag.name %></span>
          <%= link_to_remote "View Details", { :url => { :action => :show_detail, :id => tag.id }, :method => :post }, { :id => "#{dom_id(tag)}_view_details_link" } %>
        </li>
      <% end -%>
    </ul>
  </div>
</div>
<div id="tag_detail_area" class="right_area">
  <div id="tag_detail" class="right outer_list" style="display: none;">
  </div>
</div>
