<% remote_form_for(:step, Platter::Step.new(:scenario => scenario), :url => package_feature_scenario_steps_path(scenario.package, scenario.feature, scenario), :builder => StepFormBuilder) do |step_form| -%>
  <%= render :partial => "steps/form_common", :locals => { :step_form => step_form } %>
  <div id="<%= dom_id(scenario) %>_new_step_errors" class="errors">
  </div>
<% end -%>
