<li id="<%= add_anywhere_presenter.container_dom_id %>" class="scenario section" style="display: none;">
  <div class="inner_header">
    <span class="section_inner_title">Scenario:</span>
    <%= yield %>
  </div>
</li>
