<div class="inner_element_heading">
  <span>Scenario:</span>
  <div id="<%= dom_id(scenario) %>_heading_area">
    <%= render(:partial => "scenarios/show_heading", :locals => { :scenario => scenario }) %>
  </div>
</div>
<%= render :partial => "steps/list", :locals => { :scenario => scenario } %>
