<td id="<%= table_presenter.last_column_controls_cell_dom_id %>" class="column_controls_cell">
  <%= link_to icon(:plus), "#", :remote => true, "data-url" => table_presenter.add_column_url,
              :class => "table_link add_column", :title => "Add Column Here" %>
</td>
