<td id="<%= cell_presenter.column_controls_dom_id %>" class="column_controls_cell">
  <%= link_to icon(:plus), "#", :remote => true, "data-url" => cell_presenter.table_presenter.add_column_url,
              :class => "table_link add_column", :title => "Add Column Before" %>
  <%= link_to icon(:delete, :red), "#", :remote => true, "data-url" => cell_presenter.table_presenter.remove_column_url,
              :class => "table_link remove_column", :title => "Delete Column" %>
</td>