<td>
  <%= link_to icon(:plus), "#", :remote => true, "data-url" => row_presenter.add_row_url,
              :class => "table_link add_row", :title => "Add Row Before" %>
  <%= link_to icon(:delete, :red), "#", :remote => true, "data-url" => row_presenter.remove_row_url,
              :id => "#{row_presenter.dom_id}_delete_link", :class => "table_link remove_row", :title => "Delete Row" %>
</td>
