<form>
  <p>This is the import form</p>
    <fieldset>
      <label for="somefield">Some field</label><input type="text" name="somefield" /><p />
      <input type="submit" value="Submit" />
    </fieldset>
</form>
