<% remote_form_for(:feature, feature, :url => package_feature_path(feature.package, feature), :html => { :method => :put }, :builder => FeatureFormBuilder) do |feature_form| -%>
  <%= render :partial => "features/form_common", :locals => { :feature_form => feature_form } %>
  <div id="<%= dom_id(feature) %>_errors" class="errors">
  </div>
<% end -%>
