<% package.features.each do |feature| -%>
  <%= render :partial => "features/show_link", :locals => { :feature => feature } %>
<% end -%>
<li id="<%= dom_id(package) %>_new_feature" style="display: none;">
</li>
