<div id="fold_menu">
  <div id="fold_menu_search" class="fold_item">
    <div id="search_area" class="fold_menu_expand_area">
      <%= render :partial => "features/form_search" %>
    </div>
    <%= link_to image_tag("fold_menu_search.png"), "#", { :id => "expand_search_link", :class => "expand_link", :title => "Search Features and Tags" } %>
  </div>
  <div id="fold_menu_folders" class="fold_item">
    <div id="folders_area" class="fold_menu_expand_area">
      <%= render :partial => "folders/show_root", :locals => { :root_folder => root_folder, :highlighted_feature => nil } %>
    </div>
    <%= link_to image_tag( "fold_menu_folders.png" ), "#", { :id => "expand_folders_link", :class => "expand_link", :title => "Manage Folders" } %>
  </div>
</div>
