<li id="<%= dom_id(feature) %>_link_area">
  <%= link_to_remote feature.title, { :update => :feature, :url => package_feature_path(feature.package, feature), :method => :get, :complete => "$('feature').show();" }, { :id => "#{dom_id(feature)}_link" } %>
</li>
