<div id="last_search_area">
  <span>You searched for: </span><span id="last_search_text"><%= search_text %></span>
</div>
<h3>Tag Results</h3>
<ul id="tag_results">
  <% if tags.empty? -%>
    <li>
      <span>No tags found</span>
    </li>
  <% else -%>
    <% tags.each do |tag| -%>
      <li>
        <%= link_to_remote tag.name, { :url => tag_path(tag), :method => :get }, { :id => dom_id(tag, :search_result_link), :title => "View Tag" } %>
      </li>
    <% end -%>
  <% end -%>
</ul>
<h3>Feature Results</h3>
<ul id ="feature_results">
  <% if features.empty? -%>
    <li>
      <span>No features found</span>
    </li>
  <% else -%>
    <% features.each do |feature| -%>
      <li>
        <%= link_to_remote feature.title, { :url => { :controller => :features, :action => :show_detail, :id => feature.id } }, { :id => dom_id(feature, :search_result_link), :title => "View Feature" } %>
        <% feature.search_result_preview_lines(search_text).each do |line| -%>
          <span><%= highlight(line, search_text) %></span>
        <% end -%>
      </li>
    <% end -%>
<% end -%>
</ul>
