<div id="<%= dom_id(@feature) %>_heading_area" class="list_title">
  <%= render :partial => "features/show_heading", :locals => { :feature => @feature } %>
</div>
<ul>
  <li>
    <%= render :partial => "lines/list", :locals => { :feature => @feature } %>
  </li>
  <li>
    <%= render :partial => "scenarios/list", :locals => { :feature => @feature } %>
  </li>
</ul>
