<ul>
  <h1>
    <% package_name_rendered = false -%>
    <% @package.tree_path.each do |package| -%>
      <% if package_name_rendered -%>
        &nbsp;->&nbsp;
      <% end -%>
      <%= package.name.capitalize %>
      <% package_name_rendered = true %>
  <% end -%>
  </h1>
  <% @package.features.each do |feature| -%>
    <%= render :partial => "features/show_collapsed", :locals => { :feature => feature } %>
  <% end -%>
  <li id="new_feature" style="display: none;">
  </li>
  <li id="add_feature">
    <%= link_to_remote "Add Feature", :url => new_package_feature_path(@package), :method => :get %>
  </li>
</ul>
