<h1>FEATURES: <%= @package.name.capitalize %></h1>
<ul id="features">
  <% @package.features.each do |feature| -%>
    <%= render :partial => "features/show_shrunk_with_li", :locals => { :feature => feature } %>
  <% end -%>
</ul>
<%= pad_after_list(@package.features) -%>
<div id="new_feature">
</div>
<div id="add_feature">
  <%= link_to_remote "Add Feature", :url => new_package_feature_path(@package), :method => :get %>
</div>
