<h1>
  <%= link_to "Packages", packages_path, :title => "Packages" %>
  <% @package.tree_path.each do |package| -%>
    &nbsp;->&nbsp;<%= package.name.capitalize %>
  <% end -%>
</h1>
<ul id="features" class="root_list">
  <% @package.features.each do |feature| -%>
    <%= render :partial => "features/show_shrunk", :locals => { :feature => feature } %>
  <% end -%>
  <li id="new_feature" style="display: none;">
  </li>
  <li id="add_feature">
    <%= link_to_remote "Add Feature", :url => new_package_feature_path(@package), :method => :get %>
  </li>
</ul>
