<%= render :partial => "packages/show_packages_area", :locals => { :root_package => @root_package, :feature => @feature } %>
<div id="feature_area">
  <div id="feature" class="outer_list">
    <%= render :partial => "features/show_feature_area", :locals => { :feature => @feature } %>
  </div>
</div>
