<% remote_form_for(model_name, model, :url => url, :html => { :method => :put, :id => dom_id(model, :edit_form), :class => 'edit' }, :builder => form_builder) do |form| -%>
  <% field_set_tag do -%>
    <input type="hidden" name="cancel_edit" />
    <%= render :partial => "#{model_name.to_s.pluralize}/form_common", :locals => { :form => form } %>
    <div id="<%= dom_id(model) %>_errors" class="errors">
    </div>
  <% end -%>
<% end -%>
