<% remote_form_for(model_name, model, :url => url, :html => { :method => :put }, :builder => form_builder) do |form| -%>
  <%= render :partial => "#{model_name.to_s.pluralize}/form_common", :locals => { :form => form } %>
  <div id="<%= dom_id(model) %>_errors" class="errors">
  </div>
<% end -%>
